<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <h3>|| {{post.title}} :: <a href="{{post.url}}" class="lead">{{post.url}}</a></h3>
        <h4>|| Summary </h4>
        <p>{{post.summary}}</p>

        <form action="/posts/{{post._id}}/comments">
            <textarea class='form-control'
                      name="content"
                      placeholder="Comment"
                      cols="30" rows="10"></textarea>

            <div class="text-right">
                <button type="submit">Save</button>
            </div>
        </form>

    </div>
</div>